<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="headline"><h6><strong>사이트 통계</strong></h6></div>
<div class="statistics-wrap">
	<ul class="list-unstyled statistics-list">
		<li><a href="{C.G5_BBS_URL}/current_connect.php">현재접속자 : <b><!--{connect.total_cnt}-->{? connect.mb_cnt} (<span class='color-red'>Member {connect.mb_cnt}</span>)<!--{/}--></b></a></li>
		<li>오늘방문자 : <b>{counter.visit_today}</b></li>
		<li>어제방문자 : <b>{counter.visit_yesterday}</b></li>
		<li>최대방문자 : <b>{counter.visit_max}</b></li>
		<li>전체방문자 : <b>{counter.visit_total}</b></li>
		<!--{? 0 // 앞숫자 0:신규회원수 미출력, 1:신규회원수 출력}-->
		<li>신규회원수 : <b>{counter.newby}</b></li>
		<!--{/}-->
		<li>전체회원수 : <b>{counter.members}</b></li>
		<li>전체게시물 : <b>{counter.write}</b></li>
		<!--{? 0 // 앞숫자 0:전체코멘트 미출력, 1:전체코멘트 출력}-->
		<li>전체코멘트 : <b>{counter.comment}</b></li>
		<!--{/}-->
	</ul>
</div>

<style>
.statistics-wrap {position:relative;overflow:hidden;border:1px solid #e5e5e5;padding:10px}
.statistics-wrap ul {margin-bottom:0}
.statistics-list li:first-child {border-top:none !important}
.statistics-list li {color:#555;font-size:11px;padding:6px 0;display:block;border-top:solid 1px #e8e8e8}
.statistics-list li a {color:#555;font-size:11px;display:block}
.statistics-list li b {color:#555;float:right}
</style>