<?php if (!defined("_GNUBOARD_")) exit; ?>

<!--{* 팝업레이어 시작 *}-->
<div id="hd_pop">
    <h2>팝업레이어 알림</h2>

	<!--{@ newwin}-->
	<div id="hd_pops_{.nw_id}" class="hd_pops" style="top:{.nw_top}px;left:{.nw_left}px">
        <div class="hd_pops_con" style="width:{.nw_width}px;height:{.nw_height}px">
            <!--{=conv_content((.nw_content), 1)}-->
        </div>
        <div class="hd_pops_footer">
            <button class="hd_pops_reject hd_pops_{.nw_id} {.nw_disable_hours}"><strong><!--{.nw_disable_hours}--></strong>시간 동안 다시 열람하지 않습니다.</button>
            <button class="hd_pops_close hd_pops_{.nw_id}">닫기</button>
        </div>
    </div>
	<!--{:}-->
	<span class="sound_only">팝업레이어 알림이 없습니다.</span>
	<!--{/}-->
</div>

<script>
$(function() {
    $(".hd_pops_reject").click(function() {
        var id = $(this).attr('class').split(' ');
        var ck_name = id[1];
        var exp_time = parseInt(id[2]);
        $("#"+id[1]).css("display", "none");
        set_cookie(ck_name, 1, exp_time, g5_cookie_domain);
    });
    $('.hd_pops_close').click(function() {
        var idb = $(this).attr('class').split(' ');
        $('#'+idb[1]).css('display','none');
    });
    $("#hd").css("z-index", 1000);
});
</script>
<!--{* 팝업레이어 끝 *}-->
