<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="headline">
	<h6><strong>{title}</strong></h6>
</div>

<div class="basic-latest">
	<ul class="list-unstyled">
	<!--{@ loop}-->
		<li>
			<a href="{.href}">
				<div class="basic-subj">
					- <!--{? .wr_comment}--><span class="basic-comment">+{=number_format(.wr_comment)}</span> <!--{/}-->{.wr_subject}
				</div>
				<!--{? 1 // ---------------------------------------------
					위 숫자설정 - 1:포스팅 시간 출력, 0:회원포토와 닉네임 출력
				---------------------------------------------------//}-->
				<div class="basic-time">
					<i class="fa fa-clock-o {? .new}color-red{:}i-color{/}"></i> {eb->date_time('m-d',.datetime)}
				</div>
				<!--{:}-->
				<div class="basic-member">
					<div class="basic-photo"><!--{? .mb_photo}-->{.mb_photo}<!--{:}--><span class="basic-user-icon"><i class="fa fa-user"></i></span><!--{/}--></div>
					<div class="basic-nick">{.mb_nick}</div>
				</div>
				<!--{/}-->
			</a>
		</li>
	<!--{:}-->
		<li><p class="text-center font-size-12 margin-top-30">최신글이 없습니다.</p></li>
	<!--{/}-->
	</ul>
</div>

<style>
.basic-latest {position:relative;overflow:hidden;border:1px solid #e5e5e5;padding:15px;min-height:262px}
.basic-latest ul {margin-bottom:0}
.basic-latest li {position:relative;overflow:hidden;padding:2px 0;font-size:12px}
.basic-latest .basic-subj {position:relative;width:70%;padding-right:0;padding-left:0;display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;float:left}
.basic-latest .basic-comment {display: inline-block;min-width:35px;padding:0px 3px;font-size:10px;font-weight:300;line-height:13px;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;background-color:#74747a}
.basic-latest .basic-time {position:relative;overflow:hidden;width:30%;font-size:12px;text-align:right;color:#555;float:right}
.basic-latest .basic-time .i-color {color:#bbb}
.basic-latest .basic-member {position:relative;overflow:hidden;display:inline-block;width:30%;float:right}
.basic-latest .basic-photo img {width:17px;height:17px;margin-left:7px;float:right}
.basic-latest .basic-photo .basic-user-icon {width:17px;height:17px;font-size:11px;line-height:17px;text-align:center;background:#84848a;color:#fff;margin-left:7px;float:right}
.basic-latest .basic-nick {font-size:12px;color:#888;display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden;float:right}
.basic-latest a:hover .basic-subj {text-decoration:underline}
.basic-latest a:hover .basic-nick {color:#000}
.basic-latest a:hover .basic-time i {color:#ff2a00}
</style>