<?php if (!defined('_GNUBOARD_')) exit; ?>

<!--{? rel_tags.size_ > 0}-->
<div class="list-tags-wrap margin-bottom-20">
	<div class="list-tags-head">
		<h6 class="margin-bottom-0 margin-top-0"><strong>연관태그 검색</strong> [태그 in 태그]</h6>
	</div>
	<div class="list-tags-box">
		<!--{@ rel_tags }-->
		<span><a href="{.href}" class="btn-e btn-e-xs btn-e-dark rounded">{.tag}</a></span>
		<!--{/}-->
	</div>
</div>
<!--{/}-->

<div class="board-webzine margin-bottom-20">
	<div>
        <div class="pull-left margin-top-5 font-size-12 color-grey">
            <span>Total {=number_format(_total_count)}건</span> {_page} 페이지
        </div>
        <div class="clearfix"></div>
	</div>
	<div class="webzine-boxes">
		<!--{@ list}-->
        <div class="board-webzine-wrap webzine-boxes-in">
	        <div class="row">
		        <!--{? .image}-->
	            <div class="col-sm-3 margin-bottom-15">
	                <a class="zoomer" href="{C.G5_BBS_URL}/board.php?bo_table={.bo_table}&wr_id={.wr_id}">
	                    <span class="overlay-zoom board-webzine-img">
							<img class="img-responsive" src="{.image}">
	                    </span>
	                </a>
	            </div>
	            <!--{/}-->
	            <div class="col-sm-{? .image}9{:}12{/} sm-margin-bottom-10">
                    <h6>
						<a class="zoomer" href="{C.G5_BBS_URL}/board.php?bo_table={.bo_table}&wr_id={.wr_id}"><strong class="color-black">{.wr_subject}</strong></a>
                    </h6>

	                <ul class="list-inline webzine-boxes-info">
		                <li>
				            <span class="webzine-boxes-info-photo">
								<!--{? .mb_photo}-->{.mb_photo}<!--{:}--><span class="info-user-icon"><i class="fa fa-user" style="color:#eee"></i></span><!--{/}-->
							</span>
							<span class="color-black">{=eb_nameview('basic', .mb_id, .mb_nick, .email, .homepage)}</span>
		                </li>
						<li><i class="fa fa-clock-o"></i> {eb->date_format('Y-m-d',.tw_datetime)}</li>
						<!--{? 0}-->
						<li><i class="fa fa-eye"></i> {=number_format(.wr_hit)}</li>
						<li><i class="fa fa-thumbs-up"></i> {=number_format(.wr_good)}</li>
						<!--{/}-->
	                </ul>
	                <p class="color-grey">
		                {.wr_content}
		            </p>
					<div class="clearfix"></div>
	            </div>
	        </div>
        </div>
		<!--{:}-->
		<p class="text-center font-size-12">해당 내용이 없습니다.</p>
		<!--{/}-->
	</div>
</div>

{=eb_paging('basic')}

<form name="viewform" id="viewform" action="{C.G5_BBS_URL}/board.php?bo_table=" method="post">
	<input type="hidden" name="tag" value="{_GET.tag}">
	<input type="hidden" name="sfl" value="{_sfl}">
	<input type="hidden" name="stx" value="{_stx}">
	<input type="hidden" name="sca" value="{_sca}">
	<input type="hidden" name="sop" value="{_sop}">
	<input type="hidden" name="sst" value="{_sst}">
	<input type="hidden" name="sod" value="{_sod}">
	<input type="hidden" name="spt" value="{_spt}">
	<input type="hidden" name="page" value="{_page}">
</form>

<style>
.list-tags-wrap {position:relative;overflow:hidden}
.list-tags-head {position:relative;overflow:hidden;padding:7px 10px;border:1px solid #e5e5e5;background:#fafafa}
.list-tags-box {position:relative;overflow:hidden;padding:10px;border:1px solid #e5e5e5;border-top:0}
.board-webzine {font-size:12px}
.board-webzine .board-webzine-wrap {padding-top:15px;padding-bottom:0px;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;border-top:1px solid #e5e5e5}
.board-webzine .board-webzine-wrap:last-child {border-bottom:1px solid #e5e5e5;padding-bottom:15px}
.board-webzine .board-webzine-wrap .col-sm-3, .board-webzine-wrap .col-sm-9 {padding-left:15px;padding-right:15px;box-sizing:border-box}
.board-webzine .webzine-boxes-in .board-webzine-img img {max-height:290px}
.board-webzine .webzine-boxes-in .board-webzine-img .premium-news {position:absolute;top:10px;left:0px}
.board-webzine .webzine-boxes-in .board-webzine-img .mtn-news {position:absolute;top:30px;left:0px}
.board-webzine .webzine-boxes-in .board-webzine-img .preview-news {position:absolute;top:10px;right:0px}
.board-webzine .webzine-boxes-in .board-webzine-img .movie-icon {position:absolute;top:8px;right:8px;color:#e5e5e5 !important;font-size:26px;line-height:26px}
.board-webzine .webzine-boxes-in .board-webzine-img .no-image {background:#000;height:130px;color:#fff;text-align:center;line-height:130px}
.board-webzine .overlay-zoom {width:100%;height:100%;display:block;cursor:pointer;position:relative}
.board-webzine .webzine-boxes-in h6 {font-size:14px;color:#000;margin-bottom:7px}
.board-webzine .webzine-boxes-in h6 a:hover {color:#000;text-decoration:underline}
.board-webzine ul.webzine-boxes-info {margin-bottom:10px;border-top:1px dotted #ddd;border-bottom:1px dotted #ddd;padding:3px 0;line-height:20px}
.board-webzine ul.webzine-boxes-info li {font-size:11px;padding-left:0;padding-right:5px}
.board-webzine ul.webzine-boxes-info li {color:#777}
.board-webzine ul.webzine-boxes-info li a {color:#000}
.board-webzine ul.webzine-boxes-info li i {color:#bbb}
.board-webzine ul.list-inline {margin-left:0}
.board-webzine .webzine-boxes-info-photo img {width:20px;height:20px;margin-right:2px}
.board-webzine .webzine-boxes-info-photo .info-user-icon {width:20px;height:20px;font-size:14px;line-height:20px;text-align:center;background:#84848a;color:#fff;margin-right:2px;display:inline-block;white-space:nowrap;vertical-align:baseline}
</style>

<script>
// 게시물 목록 링크를 폼으로 변경
function view_post(bo_table, wr_id) {
	if(!wr_id) return false;
	var form = $("#viewform");
	var action = form.attr('action') + bo_table + '&wr_id=' + wr_id;
	form.attr('action',action);
	form.submit();
}
</script>