<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="margin-bottom-10">
    <div class="pull-left margin-top-5 font-size-12 color-grey">
        <span>Total {=number_format(_total_count)}건</span> {_page} 페이지
    </div>
    <div class="clearfix"></div>
</div>
<div class="tm-tags-wrap">
	<!--{@ list }-->
	<a href="{.href}"><span class="tm-tags-word"><span class="font-kind-{.weight}">{.tag}</span></span></a>
	<!--{/}-->
</div>

{=eb_paging('basic')}
<div class="margin-bottom-40"></div>

<style>
.tm-tags-wrap {position:relative;overflow:hidden;border:1px solid #e5e5e5;padding:15px;margin-bottom:40px}
.tm-tags-wrap .tm-tags-word {display:inline-block;padding:2px 10px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;border-radius:3px !important;background:#f5f5f5;margin:3px;font-size:12px}
.tm-tags-wrap .tm-tags-word:hover {background:#e5e5e5}
.tm-tags-wrap .font-kind-10 {font-size:28px;color:#E33334}
.tm-tags-wrap .font-kind-9 {font-size:26px;color:#855AED}
.tm-tags-wrap .font-kind-8 {font-size:24px;color:#FF5500}
.tm-tags-wrap .font-kind-7 {font-size:22px;color:#88BA00}
.tm-tags-wrap .font-kind-6 {font-size:20px;color:#007AFF}
.tm-tags-wrap .font-kind-5 {font-size:18px;color:#C1A37D}
.tm-tags-wrap .font-kind-4 {font-size:16px;color:#8F72FF}
.tm-tags-wrap .font-kind-3 {font-size:14px;color:#FF9000}
.tm-tags-wrap .font-kind-2 {font-size:12px;color:#94ABFF}
.tm-tags-wrap .font-kind-1 {font-size:11px;color:#B5B5BA}
</style>