<?php if (!defined('_GNUBOARD_')) exit; // 개별 페이지 접근 불가 ?>

<div class="basic-body-side {? eyoom.pos_side_layout == 'left'}left{:}right{/}-side col-md-3">
	<!--{* ------------- Notice Balloon 최신글 영역 시작 ------------- *}-->
	<div class="margin-bottom-20">
		<!--{* 아래 bo_table=게시판id 설정 *}-->
		{latest->latest_eyoom('notice_balloon','bo_table=게시판id||count=5||cut_subject=50')}
	</div>
	<!--{* ------------- Notice Balloon 최신글 영역 끝 ------------- *}-->

	<div class="margin-bottom-20">
		<!--{* 아웃로그인 *}-->
		<!--{? eyoom.use_gnu_outlogin == 'y'}-->{=outlogin('basic')}<!--{:}-->{=eb_outlogin(eyoom.outlogin_skin)}<!--{/}-->
	</div>

	<!--{* ------------- Side Nab 영역 시작 ------------- *}-->
	<!--{? !defined('_INDEX_')}-->
	<div class="margin-bottom-20">
		<div class="headline"><h6><strong>사이드 메뉴</strong></h6></div>
		<ul class="list-group sidebar-nav-e1" id="sidebar-nav">
			<!--{@ sidemenu}-->
		    <li class="list-group-item list-toggle {? .active}active{/}">
				<a {? C.G5_IS_MOBILE && sidemenu.submenu}data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{.key_}"{:}href="{.me_link}" target="_{.me_target}"{/}>{.me_name}</a>
		        <ul id="collapse-{.key_}" class="collapse {? .active}in{/}">
					<!--{@ submenu}-->
		            <li class="{? ..active}active{/}"><!--{? ..new}--><span class="badge badge-red">new</span><!--{/}--><a href="{..me_link}" target="_{..me_target}"><!--{? ..active}--><i class="fa fa-chevron-circle-right"></i><!--{:}--><i class="fa fa-circle"></i><!--{/}--> {..me_name}</a></li>
					<!--{/}-->
		        </ul>
		    </li>
			<!--{/}-->
		</ul>
	</div>
	<!--{/}-->
	<!--{* ------------- Side Nav 영역 끝 ------------- *}-->

	<!--{* ------------- 새글 새댓글 영역 시작 ------------- *}-->
	<div class="margin-bottom-20">
		<div class="side-tab margin-bottom-20">
		    <div class="tab-e2">
		        <ul class="nav nav-tabs">
		            <li class="active"><a href="#side-tn-1" data-toggle="tab">새글</a></li>
		            <li class="last"><a href="#side-tn-2" data-toggle="tab">새댓글</a></li>
		        </ul>
		        <div class="tab-content">
		            <div class="tab-pane fade active in" id="side-tn-1">
		                <div class="tab-content-wrap">
		                    {latest->latest_newpost('tab_newpost', 'count=5||cut_subject=30||photo=y')}
		                </div>
		            </div>
		            <div class="tab-pane fade in" id="side-tn-2">
		                <div class="tab-content-wrap">
			                {latest->latest_newpost('tab_newcomment', 'count=5||cut_subject=30||photo=y')}
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
	<!--{* ------------- 새글 새댓글 영역 끝 ------------- *}-->

	<div class="margin-bottom-20">
		<!--{* 투표 *}-->
		<!--{? eyoom.use_gnu_poll == 'y'}-->{=poll('basic')}<!--{:}-->{=eb_poll(eyoom.poll_skin)}<!--{/}-->
	</div>
	<div class="margin-bottom-20">
		<!--{* 랭킹 *}-->
		{latest->latest_rankset('basic','10')}
	</div>
	<div class="margin-bottom-20">
		<!--{* 인기검색어 *}-->
		<!--{? eyoom.use_gnu_popular == 'y'}-->{=popular('basic')}<!--{:}-->{=eb_popular(eyoom.popular_skin)}<!--{/}-->
	</div>
	<!--{? eyoom.use_tag == 'y'}-->
	<!--{* 태그메뉴 *}-->
	<div class="margin-bottom-20">
		{=eb_tagmenu(eyoom.tag_skin)}
	</div>
	<!--{/}-->
	<!--{? _is_admin // 관리자일때만 보입니다.}-->
	<div class="margin-bottom-20">
	    <!--{* 방문자 통계 *}-->
		<!--{? eyoom.use_gnu_visit == 'y'}-->{=visit('basic')}<!--{:}-->{=eb_visit(eyoom.visit_skin)}<!--{/}-->
	</div>
	<!--{/}-->
</div>

<!--{? is_side_sticky == 'yes'}-->
<script type="text/javascript" src="../js/theia-sticky-sidebar.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.initSideSticky();
    });
</script>
<!--{/}-->