<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="about-us">
	<div class="heading heading-e4 margin-bottom-10 margin-top-30">
		<h4 class="font-bold margin-bottom-20"><strong class="font-size-20"><span class="color-red">{config.cf_title} 의 앞선생각으로</span><br>상상 그 이상의 세상을 만들겠습니다.</strong></h4>
	</div>

	<div class="tag-box tag-box-e1 text-center margin-bottom-40 bg-color-light-grey2">
		<p><strong>우리의 내일을 함께 만들겠다는 꿈</strong><br><br></p>
		<p>그 꿈에 대한 열정으로 항상 앞선생각과 실천하는 행동을 보여드리며 더 큰 내일을 만들어가는 기업이 될 것을 약속 드립니다.</p>
	</div>

	<div class="col-xs-4 col-xs-offset-4">
		<img src="./img/eyoom_logo_01.png" class="img-responsive" alt="eyoomnet_logo">
	</div>

	<div class="clearfix"></div>

	<h3 class="text-center font-bold margin-top-30 margin-bottom-20">변화에 앞장서는 <span class="color-red">상상 그 이상의 내일</span>을 실천합니다.</h3>
	<p class="text-center">국내 웹시장과 전자상거래의 규모는 점점 확대되고 있습니다.<br>나이, 성별, 연령에 구애 받지 않고 누구나 쉽게 자신의 꿈을 펼쳐 볼 수 있기 때문입니다.<br><br>이윰빌더는 웹사이트 제작 및 전자상거래 구축 전문 기업으로서<br>이에 필요한 완성도 높은 홈페이지를 제작할 수 있도록 다양한 툴을 제공합니다.<br><br>더 나은 내일을 위해 함께 걸어가며 상상너머의 세상을 같이 만들어 가는 동반자가 되고 싶습니다.</p>

	<div class="headline margin-top-50"><h5><strong>회사개요</strong></h5></div>

	<table class="table table-bordered">
	    <tbody>
	        <tr>
	            <td class="bg-color-light-grey2">회사명</td>
	            <td><strong>{config.cf_title}</strong></td>
	        </tr>
	        <tr>
	            <td class="bg-color-light-grey2">홈페이지</td>
	            <td>http://사이트주소</td>
	        </tr>
	        <tr>
	            <td class="bg-color-light-grey2">대표</td>
	            <td>OOO</td>
	        </tr>
	        <tr>
	            <td class="bg-color-light-grey2">설립일</td>
	            <td>0000년 0월</td>
	        </tr>
	        <tr>
	            <td class="bg-color-light-grey2">서비스</td>
	            <td>내용입력</td>
	        </tr>
	    </tbody>
	</table>
</div>
