<?php if (!defined("_GNUBOARD_")) exit; ?>

<div>
	<div class="map-box margin-top-35">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.3232189018213!2d126.97694200000001!3d37.57100600000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2ec98800045%3A0xdd5786518f45a705!2z7J207Iic7Iug7J6l6rWw64-Z7IOB!5e0!3m2!1sko!2skr!4v1430180093757" width="100%" width=100% height="350" frameborder="0" style="border:0"></iframe>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="headline margin-top-30 md-margin-bottom-30"><h4>Contacts</h4></div>
            <ul class="list-unstyled contact-box-l margin-bottom-30">
                <li><i class="fa fa-building"></i> 서울 중구 00로 00길</li>
                <li><i class="fa fa-envelope"></i> your@email.com</li>
                <li><i class="fa fa-phone"></i> 000-0000-0000</li>
                <li><i class="fa fa-globe"></i> http://사이.com</li>
            </ul>
		</div>
		<div class="col-sm-6">
			<div class="headline margin-top-30"><h4>Business Hours</h4></div>
            <ul class="list-unstyled contact-box-r margin-bottom-30">
                <li><strong>Monday ~ Friday :</strong> 10am to 6pm</li>
                <li><strong>Saturday :</strong> 10am to 3pm</li>
                <li><strong>Mealtime :</strong> 12pm to 1pm</li>
                <li><strong>Sunday & Holidays:</strong> Closed</li>
            </ul>
		</div>
	</div>
</div>