<?php if (!defined("_GNUBOARD_")) exit; ?>

<h1>MIM Test Page</h1>
</br>
<table style="margin: 20px 10px ">
    <tr>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert/select_user.php" >
                <input type="submit" value="add user"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert/select_sns.php">
                <input type="submit" value="add sns"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert/select_daily_job.php" >
                <input type="submit" value="add daily job"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert/select_payment_job.php">
                <input type="submit" value="add payment job"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert/select_payment.php" >
                <input type="submit" value="add payment"  style="padding: 10px " >
            </form>
        </td>
        <td style="padding: 10px " >
            <form action="{C.G5_URL}/eyoom/theme/basic2/mim/insert/select_job_config.php" >
                <input type="submit" value="add job config"  style="padding: 10px " >
            </form>
        </td>
    </tr>
</table>