/*--------------------------------------
    eyoom (이윰빌더)
--------------------------------------*/

/*---------- Wrapper & Basic Layout & Boxed Layout ----------*/
.wrapper {position:relative;overflow:hidden;background:#fff}
.basic-layout {background:#fff}
.boxed-layout {padding:0;box-shadow:0 0 5px #bbb;margin-left:auto !important;margin-right:auto !important;background:#fff}
@media (min-width:992px) {
    .boxed-layout .header-nav > .navbar > .container {padding-right:0;padding-left:0}
}

/*---------- Header Topbar ----------*/
.header-topbar {position:fixed;top:0;width:100%;background:#fff;border-bottom:1px solid #e5e5e5;z-index:1005;text-align:center;height:40px}
.header-topbar ul {margin:0}
.header-topbar .topbar-left {position:absolute;top:0;left:0}
.header-topbar .topbar-left .left-menu {margin-left:15px;position:relative;overflow:hidden;clear:both;border-left:1px solid #e5e5e5}
.header-topbar .topbar-left .left-menu > li {line-height:40px;float:left;border-right:1px solid #e5e5e5}
.header-topbar .topbar-left .left-menu > li > a {display:block;width:100%;line-height:40px;padding:0 20px;font-size:12px;color:#555555}
.header-topbar .topbar-left .left-menu > li > a:hover {text-decoration:underline}
.header-topbar .topbar-left .left-menu > li > a i {color:#b5b5b5}
.header-topbar .topbar-left .left-menu > li > a:hover i {color:#555555}
.header-topbar .topbar-left .left-menu > li > a.active {background:#fff;font-weight:bold;color:#FF4848}
.header-topbar .topbar-center {display:inline-block}
.header-topbar .topbar-center .notice-roll {width:220px;text-align:left;border:0;background:transparent;margin:5px 0}
.header-topbar .topbar-center .notice-roll ul li a {color:#c5c5c5}
.header-topbar .topbar-center .notice-roll ul li a:hover {color:#fff;text-decoration:underline}
.header-topbar .topbar-right {position:absolute;top:0;right:0;text-align:right;margin-right:15px}
.header-topbar .topbar-right .mobile-nav-trigger {display:none}
.header-topbar .topbar-right > .member-menu > li {padding:0 7px;line-height:40px;display:inline-block}
.header-topbar .topbar-right > .member-menu > li > a {font-size:12px;color:#555555}
.header-topbar .topbar-right > .member-menu > li > a:hover {text-decoration:underline}
.header-topbar .topbar-right > .member-menu > li > a i {color:#b5b5b5}
.header-topbar .topbar-right > .member-menu > li > a:hover i {color:#555555}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu {position:relative}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul {left:inherit;right:0;font-size:12px;border:1px solid #e5e5e5;box-shadow:none;margin-top:-1px}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li > a {color:#555555}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li > a:hover {color:#000;background:#f5f5f5}
.header-topbar .topbar-right > .member-menu > li.topbar-add-menu > ul > li.divider {background:#e5e5e5}
.header-topbar .topbar-right > .member-menu > li.dropdown-extended li {border-left:0;border-right:0;top:0;margin-left:0;position:relative;border:0;text-align:left}
.header-topbar .dropdown-extended .dropdown-menu {float:right;left:inherit;right:0px;margin:0;border:0;background-color:#fff;width:275px;z-index:999;border-radius:4px !important;box-shadow:0 1px 8px rgba(0, 0, 0, 0.35)}
.header-topbar .dropdown-extended .dropdown-menu:before {position:absolute;top:-7px;right:20px;display:inline-block !important;border-right:7px solid transparent;border-bottom:7px solid #fafafa;border-left:7px solid transparent;border-bottom-color:#ccc;content:""}
.header-topbar .dropdown-extended .dropdown-menu:after {position: absolute;top:-6px;right:21px;display:inline-block !important;border-right:6px solid transparent;border-bottom:6px solid #fafafa;border-left:6px solid transparent;content:""}
.header-topbar .dropdown-extended .dropdown-menu > li.external {display:block;overflow:hidden;padding:10px 15px;letter-spacing:0.5px}
.header-topbar .dropdown-extended .dropdown-menu > li.external > h5 {margin:0;padding:0;float:left;font-size:12px;display:inline-block}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a {display:inline-block;padding:0;background:none;clear:inherit;font-size:12px;position:absolute;right:10px;border:0;color:#000;text-decoration:underline}
.header-topbar .dropdown-extended .dropdown-menu > li.external > a:hover {text-decoration:underline;color:#FF4848}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list {padding:0;margin:0;list-style:none;position:relative;width:246px}
.header-topbar .dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {display:block;clear:both;white-space:normal;padding:8px 0 0;text-shadow:none}
@media (max-width:991px) {
    .header-topbar .topbar-left .left-menu {margin-left:10px}
    .header-topbar .topbar-right {margin-right:10px}
    .header-topbar .topbar-right .member-menu {display:none}
    .header-topbar .topbar-right .mobile-nav-trigger {display:block;padding:2px 5px;color:#000}
    .header-topbar .topbar-right .mobile-nav-trigger a {color:#000;font-size:23px}
}
@media (max-width:767px) {
    .header-topbar .dropdown-extended .dropdown-menu {right:-60px}
    .header-topbar .dropdown-extended .dropdown-menu:before {right:88px}
    .header-topbar .dropdown-extended .dropdown-menu:after {right:89px}
}

/*---------- Header Title ----------*/
.header-title {position:relative}
.header-title .header-title-in {position:relative;overflow:hidden;box-sizing:border-box;text-align:center;width:100%;height:auto;color:#fff;z-index:1001;margin-top:40px;background:#fff}
.header-title .header-title-in .title-image-center {width:auto;height:250px;margin:25px auto}
.header-title .header-title-in h1 {color:#454545;font-size:26px;line-height:40px;font-weight:bold;margin-top:30px;margin-bottom:30px;display:inline-block}

/*---------- Header Nav ----------*/
.header-nav {position:relative}
.header-nav .navbar {border:none;margin-bottom:0;background-color:#fff;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;box-shadow:0 -1px 0px #e5e5e5;white-space:nowrap;height:60px}
.header-nav .navbar-nav > li > a {font-size:12px;letter-spacing:0px}
.header-nav .nav > li > a:hover, .header-nav .nav > li > a:focus {background:inherit}
.header-nav .navbar-nav .dropdown > a:after {top:12px;right:12px;font-size:11px;position:absolute;font-weight:normal;color:#bbb;display:inline-block;font-family:'Font Awesome\ 5 Free';content:"\f0d7";font-weight:900}
/* Nav In Center */
.header-nav .nav-center {display:inline-block;width:400px;position:absolute;left:50%;margin-left:-200px}
@media (max-width:767px) {
    .header-nav .nav-center {display:inherit;width:inherit;position:inherit;left:inherit;margin-left:inherit}
    .header-title .header-title-in .title-image-center {width:300px;height:80px;margin:5px auto} 
    /* add header-title @bluebamus*/
}
/* Navbar Nav */
@media (max-width:991px) {
    .header-nav .navbar {min-height:60px;padding-top:10px}
    .header-nav > .navbar > .container {width:inherit;margin-left:0;margin-right:0;padding-left:0;padding-right:0}
}
@media (min-width:992px) {
    .header-nav .navbar {position:relative;width:100%;z-index:1002;background-color:#fff;border-top:0;border-bottom:1px solid #e5e5e5;white-space:nowrap;height:60px}
    .header-nav .container > .navbar-header, .header-nav .container-fluid > .navbar-header {margin-bottom:-10px}
    .header-nav .navbar-nav {position:relative;float:none;display:flex;justify-content:center}
    .header-nav .navbar-nav .nav-li-divider {width:2px;height:20px;background:#e5e5e5;margin-top:20px}
    .header-nav .navbar-nav > li > a {padding:0 15px;line-height:60px;font-size:16px}
    .header-nav .navbar-nav > li > a > .nav-icon-pre {margin-right:15px}
    .header-nav .navbar-nav > li.dropdown > a {padding-right:30px}
    .header-nav .navbar-nav > li > a, .header-nav .navbar-nav > li > a:hover, .header-nav .navbar-nav > li > a:focus, .header-nav .navbar-nav > .active > a, .header-nav .navbar-nav > .active > a:hover, .header-nav .navbar-nav > .active > a:focus {color:#787b90;background:none}
    .header-nav .navbar-nav > .open > a, .header-nav .navbar-nav > .open > a:hover, .header-nav .navbar-nav > .open > a:focus {color:#FF4848}
    .header-nav .navbar-nav .dropdown > a:after {top:0;right:15px;font-size:11px;position:absolute;font-weight:normal;color:#b5b5b5;display:inline-block;font-family:'Font Awesome\ 5 Free';content:"\f0d7";font-weight:900}
    .header-nav .dropdown-menu {border:none;padding:10px;margin-top:-1px !important;min-width:180px;background:#fff;z-index:999 !important;box-shadow:none;border:1px solid #e5e5e5}
    .header-nav .dropdown-menu li a {color:#353535;font-size:13px;font-weight:normal;padding:6px 10px}
    .header-nav .dropdown-menu .active > a {color:#FF4848;background:inherit;filter:none !important;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out}
    .header-nav .dropdown-menu li > a:focus {background:none;filter:none !important}
    .header-nav .navbar-nav > li.dropdown:hover > .dropdown-menu {display:block}
    .header-nav .open > .dropdown-menu {display:none}
    .header-nav .dropdown-menu > li a:hover {background:#fff}
}
/* Dropdown Submenu */
.header-nav .dropdown-submenu {position:relative}
.header-nav .dropdown-submenu > a > .sub-caret {top:5px;left:8px !important;float:right;font-size:11px;display:inline-block}
.header-nav .dropdown-submenu > .dropdown-menu {top:-10px;left:100%;margin-left:0px}
.header-nav .dropdown-submenu > .dropdown-menu.submenu-left {left:-100%}
.header-nav .dropdown-submenu:hover > .dropdown-menu {display:block}
.header-nav .dropdown-submenu.pull-left {float:none}
.header-nav .dropdown-submenu.pull-left > .dropdown-menu {left:-100%;margin-left:10px}
.header-nav .dropdown-menu li [class^="fa-"], .header-nav .dropdown-menu li [class*=" fa-"] {left:-3px;width:1.25em;margin-right:1px;position:relative;text-align:center;display:inline-block}
.header-nav .dropdown-menu li [class^="fa-"].fa-lg, .header-nav .dropdown-menu li [class*=" fa-"].fa-lg {width:1.5625em}
@media (min-width:992px) {
    .header-nav .dropdown-submenu > a > .sub-caret {position:absolute !important;left:inherit !important;right:0;top:11px}
}
@media (max-width:991px) {
    .header-nav .dropdown-submenu > .dropdown-menu {display:block;margin-left:15px}
}
/* Header Nav Fixed */
@media (min-width:992px) {
    #header-fixed .header-nav .navbar-nav > li > a {color:#555555;font-weight:400}
    #header-fixed .header-nav .navbar-nav .active > a, #header-fixed .header-nav .navbar-nav li > a:hover, #header-fixed .header-nav .navbar-nav > li.open > a {color:#FF4848}
    #header-fixed .header-nav.header-sticky {width:100%;height:auto;z-index:1002;position:relative}
    #header-fixed .header-nav.header-fixed-trans {position:fixed;top:40px;left:0}
    #header-fixed .header-nav.header-fixed-trans .navbar-nav > li > a {color:#555555;line-height:60px}
    #header-fixed .header-nav.header-fixed-trans .navbar-nav .active > a, #header-fixed .header-nav.header-fixed-trans .navbar-nav li > a:hover {color:#FF4848}
    #header-fixed .header-sticky-space.header-fixed-space-trans {clear:both;margin-bottom:60px}
}
@media (max-width:991px) {
    #header-fixed .header-nav, #header-fixed .header-nav.header-fixed-trans {height:inherit;position:relative}
}
/* Fixed Boxed */
.boxed-layout#header-fixed .header-nav.header-sticky {left:inherit;width:inherit}

/*---------- Sidebar Nav ----------*/
.sidebar .sidebar-member-menu {display:none}
@media (max-width:991px) {
    .sidebar.left {z-index:1004;display:none;position:fixed;top:0;left:0;bottom:0;width:280px;background:#fff}
    .sidebar-left-mask {display:none}
    .sidebar-left-mask.active {display:block;position:fixed;top:0;bottom:0;left:0;right:0;z-index:1003;background:#000;opacity:0.5}
    .sidebar .sidebar-left-content {padding-top:38px;padding-bottom:20px}
    .sidebar .sidebar-left-content.active {position:relative;height:100%;width:100%;overflow-y:auto;-webkit-overflow-scrolling:touch}
    .sidebar .sidebar-member-menu {position:relative;display:block;padding:20px 15px 20px;background:#fff}
    .sidebar .sidebar-member-menu .sidebar-lg-btn {margin-bottom:20px}
    .sidebar .sidebar-member-menu .sidebar-member-btn-box {display:inline-block;float:left;width:50%}
    .sidebar .sidebar-member-menu .sidebar-member-btn {position:relative;background:#656565;width:120px;height:30px;line-height:30px;color:#fff;text-align:center}
    .sidebar .sidebar-member-menu .sidebar-other-btn {position:relative;background:#252525;width:120px;height:30px;line-height:30px;color:#fff;text-align:center}
    /* Nav */
    .header-nav .navbar-nav {position:relative;margin:0;float:none;border-bottom:1px solid #e5e5e5}
    .header-nav .navbar-nav > .nav-li-divider {display:none}
    .header-nav .navbar-nav > .nav-li-space {height:40px;border-bottom:none;border-top:1px solid #e5e5e5;background:#fff}
    .header-nav .navbar-nav > li {float:none}
    .header-nav .navbar-nav > li > a {line-height:42px;padding:0 15px;font-size:13px;color:#000;font-weight:bold}
    .header-nav .navbar-nav > li > a > .nav-cate-icon {width:20px;text-align:center}
    .header-nav .navbar-nav > li a {border-bottom:none;border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav > li a:hover {border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav > li:first-child > a {border-top:1px solid transparent}
    .header-nav .navbar-nav > .nav-mo-half {float:left;width:50%}
    .header-nav .navbar-nav > .nav-mo-half > a {border-right:1px solid #f2f2f2}
    .header-nav .navbar-nav > .nav-mo-half.board-right-none > a {border-right:0}
    .header-nav .navbar-nav > li.navbar-nav-home > a {background:#2B2B2E;color:#fff;border-top:1px solid #2B2B2E}
    .header-nav .navbar-nav > li > .cate-dropdown-open {position:absolute;top:1px;right:0;width:42px;height:42px;line-height:42px;margin:0;padding:0;text-align:center;border:0;border-left:1px solid #f5f5f5}
    .header-nav .navbar-nav > li > .cate-dropdown-open:before {font-family:'Font Awesome\ 5 Free';content:"\f067";font-weight:900;color:#b5b5b5}
    .header-nav .navbar-nav > li > .cate-dropdown-open:hover {border-top:0}
    .header-nav .navbar-nav > li.open > a {background:#4B4B4D;color:#fff;border-top:1px solid #4B4B4D}
    .header-nav .navbar-nav > li.open > a > i {color:#fff}
    .header-nav .navbar-nav > li.open > .cate-dropdown-open {border:0;border-left:1px solid #424245}
    .header-nav .navbar-nav > li.open > .cate-dropdown-open:before {font-family:'Font Awesome\ 5 Free';content:"\f068";font-weight:900;color:#FF4948}
    .header-nav .navbar-nav > li.active > .dropdown-menu {display:block;overflow:hidden}
    .header-nav .navbar-nav > li.active > a {background:#FF4948;color:#fff;border-top:1px solid #FF4948}
    .header-nav .navbar-nav > li.active > a > i {color:#fff}
    .header-nav .navbar-nav > li.active > .cate-dropdown-open {border:0;border-left:1px solid #f73535}
    .header-nav .navbar-nav > li.active > .cate-dropdown-open:before {font-family:'Font Awesome\ 5 Free';content:"\f054";font-weight:900;color:#fff}
    .header-nav .navbar-nav > li .dropdown-menu .submenu-marker {display:inline-block;width:7px;height:9px;border-left:1px dotted #959595;border-bottom:1px dotted #959595;margin-right:8px}
    .header-nav .navbar-nav .dropdown > a:after {display:none}
    .header-nav .navbar-nav .dropdown-menu {border:0;float:none;width:auto;margin:0;padding:0;position:static;box-shadow:none;background-color:transparent}
    .header-nav .navbar-nav .dropdown-menu > li > a {color:#656565;line-height:26px;border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav .dropdown-menu > li:first-child > a {border-top:1px solid #e5e5e5}
    .header-nav .navbar-nav .dropdown-menu > li > a, .header-nav .navbar-nav .open .dropdown-menu .dropdown-header {padding:6px 15px 6px 15px}
    .header-nav .navbar-nav .dropdown .dropdown-submenu > a {color:#656565;font-size:12px;background:#fafafa}
    .header-nav .navbar-nav .dropdown .dropdown-submenu.active > a {font-weight:bold;color:#FF4848}
    .header-nav .navbar-nav .dropdown-menu .dropdown-menu > li > a {color:#757575;line-height:26px;border-top:1px solid #e5e5e5;padding:6px 15px 6px 30px;background:#fafafa}
    .header-nav .navbar-nav .dropdown-submenu > .dropdown-menu {display:block}
}

/*---------- Basic Body ----------*/
.basic-body.page-padding {padding-top:25px;padding-bottom:60px}
.basic-body.ft-padding {padding-bottom:25px}
.basic-body .basic-body-page {position:relative;background:#fff;padding:0 15px;border:1px solid #e5e5e5}
.basic-body .basic-body-page .category-mobile-area {display:none}
.basic-body .basic-body-page .basic-body-main {background:#fff;padding-left:20px;padding-right:20px;padding-top:25px;padding-bottom:25px}
.basic-body .basic-body-main {padding-top:25px;padding-bottom:60px}
.basic-body .basic-body-main.left-main {border-right:1px solid #e5e5e5;padding-left:20px;padding-right:20px;padding-bottom:60px}
.basic-body .basic-body-main.right-main {border-left:1px solid #e5e5e5;padding-left:20px;padding-right:20px;padding-bottom:60px}
.basic-body .basic-body-main.page-padding {padding-bottom:25px}
.basic-body .basic-body-main.ft-padding {padding-bottom:25px}
.basic-body .basic-body-side {padding:25px 20px}
.basic-body .basic-body-side.left-side {margin-right:-1px;border-right:1px solid #e5e5e5}
.basic-body .basic-body-side.right-side {margin-left:-1px;border-left:1px solid #e5e5e5}
.basic-body .basic-body-side .side-mobile-area {display:none}
@media (min-width:992px){
    .basic-body .basic-body-main.col-md-9 {width:73%}
    .basic-body .basic-body-side.col-md-3 {width:27%}
}
@media (max-width:991px){
    .basic-body .basic-body-page .category-mobile-area {display:block}
    .basic-body .basic-body-page .basic-body-main {padding-left:15px;padding-right:15px}
    .basic-body .basic-body-main.left-main {border-right:0;padding-left:15px;padding-right:15px}
    .basic-body .basic-body-main.right-main {border-left:0;padding-left:15px;padding-right:15px}
    .basic-body .basic-body-side.left-side {margin-right:0;border-right:0;padding:0}
    .basic-body .basic-body-side.right-side {margin-left:0;border-left:0;padding:0}
    .basic-body .basic-body-side .side-pc-area {display:none}
    .basic-body .basic-body-side .side-mobile-area {display:block;padding:25px 0}
}
@media (max-width:767px){
    .basic-body.page-padding {padding:0}
    .basic-body .basic-body-page {border:0}
}

/*---------- Footer Top ----------*/
.footer-top {position:relative;width:100%;min-height:100px;background:#fff;border-top:1px solid #e5e5e5}
.footer-top-content {position:relative}
.footer-top-content .footer-top-logo {position:absolute;top:3px;left:0;width:100px;height:auto}
.footer-top-content .footer-top-logo h2 {color:#fff;font-weight:bold;margin:0;font-size:22px}
.footer-top-content .footer-top-info {position:relative;margin-top:30px;margin-left:180px;margin-bottom:30px;word-break:keep-all;font-size:12px}
.footer-top-content .footer-top-info strong {color:#353535}
.footer-top-content .footer-top-info span {color:#757575}
.footer-top-content .footer-top-info span.info-divider {margin-left:5px;margin-right:5px;color:#d5d5d5}
.footer-top-content .footer-top-info a {color:#555555;text-decoration:underline}
.footer-top-content .footer-top-info a:hover {color:#353535}
.footer-top-content .footer-top-info .btn-e-xs {line-height:11px;color:#fff;text-decoration:none}
@media (max-width:767px){
    .footer-top {margin-bottom:0}
    .footer-top-content .footer-top-logo {position:relative;top:inherit;left:inherit;margin-top:30px}
    .footer-top-content .footer-top-info {margin-left:0}
}

/*---------- Footer ----------*/
.footer {position:relative;background:#fff;border-top:1px solid #e5e5e5}
.footer .footer-left {position:absolute;left:0}
.footer .footer-left > ul {margin:0}
.footer .footer-left > ul > li {color:#555555;font-size:11px;line-height:34px;border-right:1px solid #e5e5e5;padding:0 14px}
.footer .footer-left > ul > li:last-child {border-right:0;box-shadow:none}
.footer .footer-left > ul > li:last-child a {margin-right:14px;color:#656565}
.footer .footer-left > ul > li:last-child a:hover {text-decoration:underline}
.footer .footer-left .footer-info-btn {display:inline-block;cursor:pointer;box-shadow:none}
.footer .footer-left .dropup .dropdown-menu > li > a {font-size:11px}
.footer .footer-right {text-align:right;padding-right:0;overflow:hidden}
.footer .footer-right p {color:#656565;font-size:11px;line-height:34px;margin-bottom:0}

/*---------- Page Title ----------*/
.page-title-wrap {position:relative;background:#fff;border-bottom:1px solid #e5e5e5;padding:20px 0}
.page-title-wrap h2 {margin:0;padding:0;font-size:22px;color:#454545;font-weight:bold}
.page-title-wrap .breadcrumb {margin:3px 0 0;padding:0;background:none;font-size:12px;color:#656565}
.page-title-wrap .breadcrumb li {color:#656565}
.page-title-wrap .breadcrumb li a {color:#656565}

/*---------- Main Index ----------*/
.main-mobile-content .poll {margin:30px 0 0}

/*---------- Sidebar Tab ----------*/
.sidebar-tab {position:relative;margin:0 0 25px}
.sidebar-tab .nav-tabs {background:#f5f5f5;border-bottom:1px solid #e5e5e5}
.sidebar-tab .nav-tabs li {width:50%}
.sidebar-tab .nav-tabs li a {text-align:center;margin-right:0;margin-left:-1px;color:#959595;border:1px solid #e5e5e5;padding:7px 5px;font-size:12px}
.sidebar-tab .nav-tabs li:first-child a {margin-left:0}
.sidebar-tab .nav-tabs li a:hover {background:#fff;border-bottom:1px solid #e5e5e5}
.sidebar-tab .nav-tabs li.active a {z-index:1;background:#fff;font-weight:bold;color:#353535;border-bottom:0}
.sidebar-tab .tab-content {position:relative;border:1px solid #e5e5e5;border-top:0;padding:10px;background:#fff}

/*---------- Quick Menu ----------*/
.quick-menu-wrap {position:relative}
.quick-menu {position:absolute;z-index:1;right:-78px;top:0px;width:68px;border:1px solid #e5e5e5;background:#fff}
.quick-menu.quick-menu-main {top:25px}
.quick-menu .quick-menu-box {position:relative;display:block;text-align:center;padding:10px 0;border-bottom:1px solid #e5e5e5}
.quick-menu .quick-menu-box.heading-current {padding:3px 0;background:#f5f5f5}
.quick-menu .quick-menu-box.current-view {padding:5px;border-bottom:0}
.quick-menu .quick-menu-box i {color:#b5b5b5;font-size:16px}
.quick-menu .quick-menu-box span {display:block;color:#2E3340;font-size:11px;padding-top:2px;letter-spacing:-1px}
.quick-menu .quick-menu-box:hover i, .quick-menu ul li a:hover span {color:#000}
.quick-menu .quick-menu-box .quick-carousel {width:100%}
.quick-menu .quick-menu-box .item-image img {width:100%;height:auto;background:#fff;margin-bottom:5px}
.quick-menu .quick-menu-box p {width:100%;height:80px;padding-top:20px;letter-spacing:-1px;font-size:11px;background:#fff;margin:0;color:#959595}
.quick-menu .quick-menu-box .quick-carousel .carousel-arrow a {font-size:11px;padding-top:6px;color:#959595}
.quick-menu .quick-menu-box .quick-carousel .carousel-arrow a:hover, .quick-menu .quick-menu-box .quick-carousel .carousel-arrow a:focus {color:#000}
.quick-menu .quick-scroll-btn {background:#676769;text-align:center;color:#fff;padding:8px 0;margin:-1px;cursor:pointer}
.quick-menu .quick-scroll-btn:hover {background:#4B4B4D}
.quick-menu .quick-scroll-btn.top-btn {padding:7px 0 9px}
.quick-menu .quick-scroll-btn.down-btn {border-top:1px solid #959595}
.quick-menu .quick-scroll-btn i {display:block;font-size:12px;line-height:1}
.quick-menu .quick-scroll-btn span {display:block;font-size:10px;line-height:1;color:#d5d5d5}
@media (max-width:991px) {
    .quick-menu {display:none}
}
