<?php if (!defined('_GNUBOARD_')) exit; ?>

<div class="headline">
	<h6><strong>{title}</strong></h6>
</div>

<div class="webzine-latest">
	<div class="row">
	<!--{@ loop}-->
		<div class="col-sm-6">
			<div class="webzine-item">
				<div class="webzine-img">
					<a href="{.href}">
						<div class="img-box">
							<!--{? .image}-->
							<img class="img-responsive" src="{.image}">
							<!--{? .wr_comment}--><span class="img-comment">+{=number_format(.wr_comment)}</span><!--{/}-->
							<!--{? .is_video}--><span class="video-icon"><i class="fa fa-play-circle-o"></i></span><!--{/}-->
							<!--{:}-->
							<span class="no-image">No Image</span>
							<!--{/}-->
							<div class="img-caption">
								<span><i class="fa fa-eye"></i> {=number_format(.wr_hit)}</span>
								<!--{? .wr_good}--><span><i class="fa fa-thumbs-up"></i> {=number_format(.wr_good)}</span><!--{/}-->
								<!--{? .wr_nogood}--><span><i class="fa fa-thumbs-down"></i> {=number_format(.wr_nogood)}</span><!--{/}-->
							</div>
						</div>
					</a>
				</div>
				<div class="webzine-txt">
					<a href="{.href}">
						<div class="txt-subj">
							<h5>{.wr_subject}</h5>
						</div>
						<!--{? content == 'y'}-->
						<p class="txt-cont">{.wr_content}</p>
						<!--{/}-->
						<span class="txt-photo"><!--{? .mb_photo}-->{.mb_photo}<!--{:}--><span class="txt-user-icon"><i class="fa fa-user"></i></span><!--{/}--></span>
						<span class="txt-nick">{.mb_nick}</span>
						<span class="txt-time"><i class="fa fa-clock-o {? .new}color-red{:}i-color{/}"></i> {eb->date_time('Y-m-d',.datetime)}</span>
					</a>
				</div>
			</div>
		</div>
	<!--{:}-->
		<p class="text-center font-size-12 margin-top-30">최신글이 없습니다.</p>
	<!--{/}-->
	</div>
</div>

<script>
$(function(){
    var duration = 120;
    var $img_cap = $('.webzine-latest .webzine-img');
    $img_cap.find('.img-box')
        .on('mouseover', function(){
            $(this).find('.img-caption').stop(true).animate({bottom: '0px'}, duration);
        })
        .on('mouseout', function(){
            $(this).find('.img-caption').stop(true).animate({bottom: '-26px'}, duration);
        });
});
</script>

<style>
.webzine-latest {position:relative;overflow:hidden;border:1px solid #e5e5e5;padding:15px 15px 0px;min-height:207px}
.webzine-item {position:relative;overflow:hidden;margin-bottom:15px}
.webzine-latest .webzine-img {position:relative;overflow:hidden;float:left;width:40%}
.webzine-latest .img-box {position:relative;overflow:hidden;height:98px;background:#34343a;line-height:98px;text-align:center}
.webzine-latest .img-box .no-image {color:#888;font-size:11px}
.webzine-latest .img-comment {position:absolute;top:8px;left:8px;display:inline-block;min-width:35px;padding:0px 3px;font-size:10px;font-weight:300;line-height:13px;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;background:#74747a}
.webzine-latest .img-box .video-icon {position:absolute;top:5px;right:5px;color:#fff;font-size:20px;line-height:20px}
.webzine-latest .img-caption {color:#fff;font-size:11px;position:absolute;left:0;bottom:-26px;display:block;z-index:1;background:rgba(0, 0, 0, 0.7);text-align:left;width:100%;height:26px;line-height:20px;margin-bottom:0;padding:3px 10px}
.webzine-latest .img-caption span {margin-right:7px}
.webzine-latest .img-caption span i {color:#aaa}
.webzine-latest .webzine-txt {position:relative;overflow:hidden;float:right;padding-left:10px;width:60%}
.webzine-latest .txt-subj {margin-bottom:5px}
.webzine-latest .txt-subj h5 {font-size:12px;font-weight:bold;margin:0;display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;overflow:hidden}
.webzine-latest .webzine-txt a:hover .txt-subj h5 {color:#ff2a00;text-decoration:underline}
.webzine-latest .txt-cont {position:relative;overflow:hidden;height:34px;font-size:11px;color:#888;margin-bottom:10px}
.webzine-latest .txt-photo img {width:20px;height:20px;margin-right:2px}
.webzine-latest .txt-photo .txt-user-icon {width:20px;height:20px;font-size:14px;line-height:20px;text-align:center;background:#84848a;color:#fff;margin-right:2px;display:inline-block;white-space:nowrap;vertical-align:baseline}
.webzine-latest .txt-nick {font-size:11px;color:#555}
.webzine-latest .txt-time {font-size:11px;color:#555;margin-left:5px}
.webzine-latest .txt-time .i-color {color:#bbb}
@media (max-width: 1199px) {
	.webzine-latest .img-box {height:80px}
	.webzine-latest .txt-cont {height:17px}
}
</style>