<?php if (!defined("_GNUBOARD_")) exit; ?>

<div class="text-center">
	<ul class="pagination">
		<li><a href="{url}1{add}"><i class="fa fa-step-backward"></i></a></li>
		<li><a href="{url}{?(cur_page-1)<=0}1{:}{(cur_page-1)}{/}{add}"><i class="fa fa-angle-left"></i></a></li>
		<!--{@ paging}-->
		<li {?.on}class="active"{/}><a href="{.url}">{.key_}<span class="sound_only">페이지</span></a></li>
		<!--{:}-->
		<li class="active"><a href="{url}1{add}">1<span class="sound_only">페이지</span></a></li>
		<!--{/}-->
		<li><a href="{url}{?(cur_page+1) > total_page}{total_page}{:}{(cur_page+1)}{/}{add}"><i class="fa fa-angle-right"></i></a></li>
		<li><a href="{url}{total_page}{add}"><i class="fa fa-step-forward"></i></a></li>
	</ul>
</div>
